<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--<link rel="stylesheet" href="{{'home/css/index-welcomePage.css'|assets}}">-->
<link rel="stylesheet" href="{{assets('home/css/index-welcomePage.css')}}">


<body>

    <div class="outer_content">
        <h1 class="welcome_header"><span class="welcome_logon"> ^<span style="font-size: 50px;">_</span>^ </span> Hello , Welcome to CSFramework !</h1>
        <p class="welcome_header welcome_sub_message">version : 0.0.1</p>
        <p class="welcome_header welcome_sub_message">publisher : helloworlder</p>
        <p class="welcome_header welcome_sub_message">publish at : 2016-07-03</p>
        <p class="welcome_header welcome_sub_message welcome_tips"> A lightweight & total free PHP framework ! Enjoy your coding life !</p>
    </div>

</body>
</html>